:root{
    --maincolor:#F2F2F2;

}

*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

body{
    background-color:#ffffff;
    font-family: "Arial", sans-serif;
    color:#424242;
    
}

.wrapper{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 4fr 1fr;
    
    
}

.header-section{
    grid-row:1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: 2px solid red;
}

.header-section .nav-wrap{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 1rem;
}

.header-section .nav-wrap a{
    margin-right: 1.5rem;
    text-decoration: none;
    color:#424242
}

.header-section .nav-wrap a:hover{
    text-decoration: underline;
}

.header-section .nav-wrap .icon-wrap{
    background-position: center;   
}

.header-section .nav-wrap .icon-wrap a{
    display: inline-block;
}

.header-section .nav-wrap .icon-wrap img{
    /* background-color: #f5f5f5; */
    width: 25%;
    height: auto;
    display: inline-block;
}


.main-content{
    grid-row:2;
    border: 2px solid red;
}

.page-footer{
    grid-row: 3;
    border: 2px solid red;
    padding: 30px;

}