:root{
    --maincolor:#F2F2F2;

}

*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

body{
    background-color:#ffffff;
    font-family: "Arial", sans-serif;
    color:#424242;
    
}

.wrapper{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 4fr 1fr;
    
    
}

.header-section{
    grid-row:1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-section .nav-wrap{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 1rem;
}

.header-section .nav-wrap a{
    margin-right: 1.5rem;
    text-decoration: none;
    color:#424242
}

.header-section .nav-wrap a:hover{
    text-decoration: underline;
}

.header-section .nav-wrap .icon-wrap{
    background-position: center;   
}

.header-section .nav-wrap .icon-wrap a{
    display: inline-block;
}

.header-section .nav-wrap .icon-wrap img{
    /* background-color: #f5f5f5; */
    width: 25%;
    height: auto;
    display: inline-block;
}


.main-content{
    grid-row:2;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: first baseline;
}

.main-content .logo-wrapper{
    padding: 1rem 0 1rem 0;
}

.main-content .logo-wrapper img{
    max-width: 17rem;
}

.search-container{
    border: 1px solid #dddddd;
    border-radius: 50px;
    width:600px;
    display: grid;
    grid-template-columns: 0.1fr 5fr 0.6fr;
    overflow: hidden;
}

.search-container .fas{
    padding: 0.8rem;
    font-size: 1rem;
    height: 100%; 
    display: flex;
    align-items: center;   
}

.search-container .search-box{
      border: none;
      outline: none;
      padding: 0.8rem;
}

.search-container .button-mic{
   background-color: transparent; 
   border: none;   
}

.search-container .button-mic img{
    width: auto;
    height: 32px;
    /* padding-top: 0.3rem; */
        
}





.page-footer{
    grid-row: 3;
    border: 2px solid red;
    padding: 30px;

}